
#login-screen {
    position: relative;
    display: inline-block;
  }
  
  .card {
    position: absolute;
    top: 150px;
    left: 100px;
    z-index: 1;
  }
 

#background-image {
   
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  
      }
      
      #login-form {
        position: relative;
        left: 100px;
        top: 50px;
    }
    #content{
        text-align: center;
        position: relative;
        
        top: 300px;
    }
    h2{
        font-family:  Arial;
        font-weight: bold;
        color: black
        ;
    }

    /* navigation bar */

    #header {
      position: fixed;
      top: 0;
      left: 0%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.6s;
      padding: 40px 100px;
      z-index: 3; /* add a transparent z-index value */
    }
    nav {
      width: 80%; /* adjust the width to fit the links within it */
    }
    nav.sticky{
      
      background-color: aqua;
      
      
    }
    nav.sticky .logo
    nav.sticky ul li a{
       color: aliceblue;
    }
    nav .logo{
      position: relative;
      font-weight: 700;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 10.6s;

    }

  
    nav ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
    }
    

    nav ul li {
      position: relative;
      list-style: none;
      display: inline;
    }

    nav ul li a {
      position: relative;
      margin: 0 15px;
      text-decoration: none;
      color: black;
      letter-spacing: 2px;
      font-weight: 500px;
      transition: 10.6s;
    }
    .bookingCalender{
      float: left;
      color: rgb(13, 15, 15);
      margin-top:150px ;
      
    }
    main {
      padding-top: 150px; /* change the value to match the height of the navbar */
      display: inline-block;
    }
     
      
    
    form {
    
      display: flex; /* change from inline-block to flex */
      margin-left: 300px;
      background-color: white;
      
    }
    input[type="date"] {
      margin: 0 100px; /* add a 10px margin to the left and right sides of each control */
 
    }
    input[type="date"]:focus {
      background-color: rgb(185, 178, 178); /* change the background color of the control when it is focused */
    }
    #map{
      height: 400px;
      width: 50%;
      margin-bottom: 100px;
    }
    
    